* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #fff;
}

.main-container {
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* Search bar */
/* TODO: Fix positioning; try to center */
.search {
  position: absolute;
  margin: 10px auto 0 auto;
  width: 100%;
  z-index: 99;
}

#address {
  width: 35%;
}

#submit-button {
  min-width: 10%;
}

/* Map */
#map {
  height: 70%;
  width: 100%;
  /*float: left; */
}

/* Image gallery */
#gallery {
  width: 100%;
  height: 30%;
  /*
  min-height: 100%;
  max-height: 100%;
  */
  /* float: left; */
  background-color: #dedede;
  /* TODO: gallery needs a fixed height; image height
     should scale to fit */
  /* max-height: 350px; */
}

.thumbnail {
  background-color: black;
  margin: 0 0 -4px 0;
  /* border: 2px solid #dedede; */
  width: 20%;
  height: 100%;
  display: inline-block; /* makes it fit in like an <img> */
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}
